*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul li a {
    text-decoration: none;
    color: greenyellow;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
.hero {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btn {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
}
.primary {
    background-color: goldenrod;
    color: white;
}
.connection {
    padding: 80px 8%;
    text-align: center;
}
.connection-content h2 {
    font-size: 36px;
    margin-bottom: 15px;
}
.connection-content > p {
    margin-bottom: 40px;
}
.connection-options {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.option {
    flex: 1;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.option h3 {
    font-size: 24px;
    margin-bottom: 15px;
}
.option p {
    margin-bottom: 25px;
}
.option a {
    text-decoration: none;
}
.option a {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 5px;
}
.how-it-works {
    padding: 80px 8%;
    text-align: center;
}

.how-content h2 {
    font-size: 36px;
    margin-bottom: 40px;
}
.steps {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.step {
    flex: 1;
}
.step h3 {
    font-size: 22px;
    margin-bottom: 15px;
}
.step p {
    line-height: 1.6;
}
.step {
    flex: 1;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
}
